/* колір основного тексту #757575 */
/* другорядний колір тексту #212121 */
/* колір фону #FFFFFF */
/* другорядний колір фону #F5F4FA */
/* колір акценту #2196F3; */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-color: #fff;
  --secondary-main-color: #f5f4fa;
}

body {
  background-color: var(--main-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list-style {
  list-style-type: none;
}
/* Hero */
.hero-title {
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.34;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* CHANGE IT!!! */
  color: var(--primary-text-color);
}
.link {
  text-decoration: none;
  color: var(--title-text-color);
}

/* Site navigation */
.logo {
  color: var(--accent-color);
}

.logo-link {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
}

.logo-footer {
  color: var(--main-color);
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.contacts-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts-nav a:hover,
.contacts-nav a:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
}

/* Main */

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}
/* OUR TEAM */

.team {
  background-color: var(--secondary-main-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}
.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* buttton */
.hero-button {
  font-family: inherit;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
}
.button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--secondary-main-color);
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

/* footer */

.adress-nav .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.adress-nav p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

footer {
  background-color: #2f303a;
}
